<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.chowhound.hfut.mapper.ResultMapper">
    
    <resultMap type="per.chowhound.hfut.domain.Result" id="ResultResult">
        <result property="resultId"    column="result_id"    />
        <result property="recordId"    column="record_id"    />
        <result property="url"    column="url"    />
        <result property="defectId"    column="defect_id"    />
        <result property="userId"    column="defect_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectResultVo">
        select result_id, record_id, url, defect_id, create_time, update_time, is_delete from result
    </sql>

    <select id="selectResultList" parameterType="per.chowhound.hfut.domain.Result" resultMap="ResultResult">
        <include refid="selectResultVo"/>
        <where>  
            <if test="recordId != null "> and record_id = #{recordId}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="defectId != null "> and defect_id = #{defectId}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectResultByResultId" parameterType="Long" resultMap="ResultResult">
        <include refid="selectResultVo"/>
        where result_id = #{resultId}
    </select>

    <insert id="insertResult" parameterType="per.chowhound.hfut.domain.Result" useGeneratedKeys="true" keyProperty="resultId">
        insert into result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="defectId != null">defect_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="defectId != null">#{defectId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateResult" parameterType="per.chowhound.hfut.domain.Result">
        update result
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null">record_id = #{recordId},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="defectId != null">defect_id = #{defectId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where result_id = #{resultId}
    </update>

    <delete id="deleteResultByResultId" parameterType="Long">
        delete from result where result_id = #{resultId}
    </delete>

    <delete id="deleteResultByResultIds" parameterType="String">
        delete from result where result_id in 
        <foreach item="resultId" collection="array" open="(" separator="," close=")">
            #{resultId}
        </foreach>
    </delete>
</mapper>