<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.chowhound.hfut.mapper.ReviewMapper">

    <resultMap id="BaseResultMap" type="per.chowhound.hfut.domain.Review">
            <id property="reviewId" column="review_id" />
            <result property="licImg" column="lic_img" />
            <result property="insurance" column="insurance" />
            <result property="cert" column="cert" />
            <result property="invoice" column="invoice" />
            <result property="reviewedAdmin" column="reviewed_admin" />
            <result property="number" column="number" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        review_id,lic_img,insurance,cert,invoice,reviewed_admin,
        number,create_time,update_time,is_delete
    </sql>
</mapper>
